/* src/styles/fonts.css */
@font-face {
    font-family: 'GeogrotesqueTRIAL-SmBd';
    src: url('/assets/fonts/GeogrotesqueTRIAL-SmBd.woff2') format('woff2'),
         url('/assets/fonts/GeogrotesqueTRIAL-SmBd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'GeogrotesqueTRIAL-Md';
    src: url('/assets/fonts/GeogrotesqueTRIAL-Md.woff2') format('woff2'),
         url('/assets/fonts/GeogrotesqueTRIAL-Md.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }